@using OthelloModel
@using OthelloWeb.Controllers;

@Model OthelloGame
@{
    ViewBag.Title = "Home Page";
    Othello game = Model;
    var board = game.GetBoard();
    game.GetPlayer();
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"></th>
        @for (char c = 'A'; c <= 'H'; c++)
        {
            <th scope="col">@c</th>
        }
    </tr>
    </thead>
    <tbody>
    @for (int row = 1; row <= 8; row++)
    {
        <tr>
            <th scope="row">@row</th>
            @for (int col = 1; col <= 8; col++)
            {
                <td>
                    @if (board[row-1, col-1] == 0)
                    {
                        @Html.ActionLink("___","Move", new {row = row-1, col = col - 1})
                    }
                    else
                    {
                        @board[row -1, col - 1].ToChar();
                    }
                        
                    
                </td>
            }
        </tr>
    }
       
    </tbody>
</table>
